---
layout: default
title: Inicio
---

    <div class="home-grid">

        <section class="section">
            <h2 class="section-title">Conceptos de desarrollo</h2>
            <div class="cards-container">
                {% assign concepts = site.pages | where: "category", "concepts" | where: "article", true | sort: "title" %}
                {% for article in concepts limit : 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if concepts.size >= 4 %}
                <a href="/concepts" class="section-link">Ver todas las Concepts →</a>
            {% endif %}
        </section>

        <section class="section">
            <h2 class="section-title">Lecciones de desarrollo</h2>
            <div class="cards-container">
                {% assign lessons = site.pages | where: "category", "lessons" | where: "article", true | sort: "title" %}
                {% for article in lessons limit : 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if lessons.size >= 4 %}
                <a href="/lessons" class="section-link">Ver todas las Lecciones →</a>
            {% endif %}
        </section>

        <section class="section">
            <h2 class="section-title">Ejemplos de código</h2>
            <div class="cards-container">
                {% assign examples = site.pages | where: "category", "examples" | where: "article", true | sort: "title" %}
                {% for article in examples limit : 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if examples.size >= 4 %}
                <a href="/examples" class="section-link">Ver todos los ejemplos →</a>
            {% endif %}
        </section>

        <section class="section">
            <h2 class="section-title">Hojas de Referencia</h2>
            <div class="cards-container">
                {% assign cheatsheets = site.pages | where: "category", "cheatsheets" | where: "article", true | sort: "title" %}
                {% for article in cheatsheets limit: 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if cheatsheets.size >= 4 %}
                <a href="/cheat_sheets" class="section-link">Ver todas las hojas de trucos →</a>
            {% endif %}
        </section>
        
        <section class="section">
            <h2 class="section-title">Paquetes</h2>
            <div class="cards-container">
                {% assign packages = site.pages | where: "category", "packages" | where: "article", true | sort: "title" %}
                {% for article in packages limit: 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if packages.size >= 4 %}
                <a href="/packages" class="section-link">Ver todos los paquetes →</a>
            {% endif %}
        </section>

        <section class="section">
            <h2 class="section-title">Librerías</h2>
            <div class="cards-container">
                {% assign libraries = site.pages | where: "category", "library" | where: "article", true | sort: "title" %}
                {% for article in libraries limit: 3 %}
                    {% include card.html article=article %}
                {% endfor %}
            </div>
            {% if libraries.size >= 4 %}
                <a href="/libraries" class="section-link">Ver todas las librerías →</a>
            {% endif %}
        </section>

        
    </div>
