/* ========== VARIABLES ========== */
$spacing-unit: 1rem;
$background-color: $nord0;
$secondary-background: $nord1;
$text-color: $nord4;
$heading-color: $nord6;
$accent-color: $nord8;
$icon-color: $nord9;
$hover-accent: $nord7;